.section{
  padding: 60px 0;
}
.section--one{
  margin: 80px 0 0 0;
  background-color: #fbf7f2;
}
.section--two{
  background-color: #ffffff;
}
.section--three{
  background-color: #e6f2f6;
}
.section__wrapper{
  width: 1024px;
  height: 640px;
  margin: 0 auto;

  background: url(../img/sample.png) no-repeat right center / auto 640px;
}
.section__title{
  font-size: 48px;
  line-height: 1.3;
  color: #212529;

  padding: 270px 0 0 0;
  margin: 0 0 30px 0;
}
.section__text{
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
}
.section__sub{
  width: 120px;
  margin: 20px 0 10px 0;
  float: left;
}
.section__title--sub{
  font-size: 16px;
  font-weight: 900;

  padding: 0 0 0 0;
  margin: 0 0 0 0;
}
.section__text--sub{
  font-size: 14px;
}
.section__button{
  width: 200px;
  height: 50px;
  background-color: #F1F3F5;
  color: #212529;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}
.section__button:hover{
  background-color: #aeaeae;
}